.price-value .plus, .price-value .minus {
    cursor: pointer;
    font-size: 20px;
    vertical-align: middle;
}
.price-value .plus {
    padding-left: .5rem;
}
.price-value .minus {
    padding-right: .5rem;
}

.price-value .current-percent {
    color: green;
    font-size: .8rem;
    line-height: 1;
    width: 160px;
}
.price-value .current-percent.minus {
}
.price-value .current-percent.plus {
    text-align: right;
}
.gf_price_request_form {
    position: relative;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}
.gf_price_request_form .form-item {
    margin: 0;
}
input.form-submit.new-price-submit-button {
    padding: 5px;
    background: none;
    line-height: 1;
    height: auto;
}
.submit-button-box {
    top: 10px;
    position: absolute;
    right: 0;
}
